
html {
  scroll-behavior: smooth;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $info $deep-ocean-primary;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: auto;
}

*::-webkit-scrollbar-track {
  background: $deep-ocean-primary;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: $info;
  border-radius: 10px;
  border: 4px solid rgb(15, 17, 26);
}